<%- include("komponenty/header") -%>
</head>
<%- include("komponenty/nawigacja") -%>

<!---<div class="fluid-container">
			

	<article class="card-body">
	<div class="registration-form">
	<div class="form-icon" style="margin-top:50px">
			<span><i class="fas fa-user"></i></span>
	</div>
		<form action="/logowanie" method="POST">
		<div class="form-group">
			<label>Twój email</label>
			<input name="email" class="form-control item" placeholder="Email" type="email">
		</div>
		<div class="form-group">
			<a class="float-right" href="#">Zapomniałeś hasła?</a>
			<label>Twoje hasło</label>
			<input class="form-control item" name="password" placeholder="******" type="password">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-block submit-account"> Zaloguj się </button>
		</div>
		</form>
	</div>
</article>
</div>--->
<div class="card" style="background:#4e54c8;">
    
    <div class="area" >
        <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
				<li></li>
				<article class="card-body" style="padding-top:8%">
					<div class="registration-form">
					<div class="form-icon" style="margin-top:50px">
							<span><i class="fas fa-user"></i></span>
					</div>
						<form action="/logowanie" method="POST">
						<div class="form-group">
							<div>Twój email</div>
							<input name="email" class="form-control item" placeholder="Email" type="email">
						</div>
						<div class="form-group">
							<a class="float-right" href="#">Zapomniałeś hasła?</a>
							<div>Twoje hasło</div>
							<input class="form-control item" name="password" placeholder="******" type="password">
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block submit-account"> Zaloguj się </button>
						</div>
						</form>
					</div>
				</article>
			</ul>
		</div>
		</div>
	

<%- include("komponenty/footer") %> 