html, body {
    margin:0;
    padding:0;
    overflow-x: hidden;
  }

/* 
  body {
     min-height: 100%;
    position:relative;
  } */

.mojeOgloszenia {
    margin: 2% 10% 2% 10%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
}

.dodajOgloszenie {
    margin-left: 35%;
    
    margin-top: 2%;
    margin-bottom: 2%;
}
.dodajPrzycisk {
    margin-left: 23%;
}

.list-group-item {
    margin-bottom: 2%;
}

.przyciski {
    margin-left: 44%;
    margin-bottom: 3%;
    margin-top: 4%;
    width: 200px;
}

.obramowanie{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
} 


.navbar-dark{
	background: #44485E;
}

.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1; font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1; font-family: 'Raleway', sans-serif;
    color: #2496ed;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

.profil {
    margin-left: 40%;
    
}

.mojProfil {
    background-color: #2496ed;
    padding-bottom: 10%;
}

.rejestracja {
    margin: 5% 35% 5% 35%;
    border-radius: 20px;
    background: cornflowerblue;
    
}

.fluid-container{
	text-align: center;
	padding:5% 38%; 
	background-color:#2496ed;
}

.registration-form {
    background-color: #fff;
    max-width: 400px;
    margin: auto;
	padding:10px 40px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.form-icon{
	text-align: center;
    background-color: #2496ed;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
}

.registration-form .item{
	border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.registration-form .submit-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #2496ed;
    border: none;
    color: white;
    margin-top: 20px;
}

.registration-form .input-group-text{
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.registration-form .form-control{
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

/* tutaj jest animacja */
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #2496ed;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.nav-link{
	font-size: 1.25rem;
    font-weight: weight;
    color: white !important;
}

.navbar-brand{
    font-size: 2.25rem;
    font-weight: bold;
}

nav {

	background-color: #2496ed !important;
	border-color:#2496ed  !important;
    
}

#nav-tabContent {
    overflow: auto;
    scroll-behavior: smooth;
    height: 500px;
    width: 80%;
    margin: 0% 2% 2% 5%;
    

    
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

#wiadomosci {
    max-height: 700px;
}

#komunikacja {
    max-height: 800px;
    background-color: #2496ed;
    
    
}

#trescWiadomosci {
    width: 20%;
}

#pasekWiadomosci {
    width: 50%;
    margin-left: 22%;
}

.message {
    background: #eee;
    border-radius: 8px;
    padding: 8px;
    margin: 2px 8px 2px 50px;
    overflow: auto;
    width: 400px;
}

.message-rigth{
    margin-left: 60%;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color:#1C76BA !important;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
    background-color: #2496ed   !important;
}

#harmonogram {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: white;
    border-collapse: collapse;
    width: 50%;
    margin: 2% 5% 2% 25%;
    text-align: center;
  }
  
  #harmonogram td, #harmonogram th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center !important;
  }

  
  #harmonogram tr:nth-child(even){background-color: #f2f2f2;}
  
  #harmonogram tr:hover {background-color: rgb(14, 41, 129);}
  
  #harmonogram th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2496ed;
    color: white;
  }

  .kolor_tla {
    background-color:#eee;
    padding: 1% 1%;
  } 

  .obramowanie {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
} 

h5 {
    font-weight: bold;
} 


  /* CSS WOJTEK */
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:3% 3%; 
    background-color:#FFF;
}
main .list{
    width: 100%;
    max-width: 768px;
    background-color: #FFF;
    border:1px solid #FFF;
    margin-top: 25px;
    border-color:#FFF; 
    padding:3% 0%;
}

main .list .item {
    padding: 15px;
    border-bottom: 1px solid #FFF;
}
.pagenumbers{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pagenumbers button{
    width:50px;
    height: 50px;
    appearance: none;
    border:none;
    outline: none;
    cursor: pointer;
    background-color: #44AAEE;
    margin: 5px;
    transition: 0.4s;
    color: #FFF;
    font-size: 18px;
    text-shadow: 0px 0px 4px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
}

.pagenumbers button:hover{
    background-color: #44EEAA;
}

.pagenumbers button.active{
    background-color: #44EEAA;
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.2);
}

.zobaczProfil {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
  
  .stars {
    background: #ffffff;
    height: 30px;
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
  }
  
  .stars input{
    position: absolute;
    left: -99999px;
  }
  
  .gwiazdki {
    width: 30px;
    height: 30px;
    padding: 5px;
    color: transparent;
  }

  .gwiazdka {
    width: 30px;
    height: 30px;
    padding: 5px;
  }

  .gwiazdki_stale{
    width: 30px;
    height: 30px;
    padding: 5px;
    color: transparent;
  }

  .gwiazdki_stale::before{
    content:'★';
    color: #c0c0c0;
    font-size:30px;
    line-height: 30px;
    margin-right:-100%;
  }

  .gwiazdka::before{
    content:'★';
    color: #ffa500;
    font-size:30px;
    line-height: 30px;
    margin-right:-100%;  
  }


  .gwiazdki::before{
      content:'★';
      color: #c0c0c0;
      font-size:30px;
      line-height: 30px;
      margin-right:-100%;  
  }

  .gwiazdki:hover::before,
  .gwiazdki:hover ~ .gwiazdki::before,
  .stars input:checked ~.gwiazdki::before{
      color:#ffa500;
  }

  /* CSS MICHAŁ */

.list-group-item:first-child {
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
}
.list-group-item:last-child {
    border-bottom-left-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
}



.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #1C76BA !important;
}

.edycjaProfilu {
    background-color: #2496ed
}

.dodaj-temat {
    margin-left: 30%;
}

.tytul-tematu {
    width: 50%;
    
}

.tresc-tematu {
    width: 50%;
    height: 10%;
}

.dodaj-temat-przycisk {
    margin-left: 45%;
}

.nowytemat {
    color: white;
    margin-top: 5%;
    margin-bottom: 20%;
} 

.first-section-glowna {
    padding-top: 2%;
    padding-bottom: 5%;
    height: 80vh;
}

.second-section-glowna {
    padding-top: 5%;
    padding-bottom: 5%;  
    background-color: #2496ed ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
}

.third-section-glowna {
    padding-top: 5%;
    padding-bottom: 5%;
}

.fourth-section-glowna {

    padding: 5% 5% 5% 5%;
    background-color: #2496ed ;
}

.glowna-top-header {
    padding-top: 4%;
}


.top-content-glowna {
   margin-left: 5%;
   font-size: 3rem;
   color:#1C76BA;
   font-weight: 550;
   padding-top: 5%;

}

#photo-online-glowna {
   width: 90%;
}

#photo-books-glowna {
    width: 30%;
}

.glowna-content {
    background-color: #eeeff2  !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.glowna-znajdz-zajecia {
    margin-top: 5%;
    
}

.inline  {
    display: inline-block;
}

.center {
    text-align: center;
}

#functions-glowna-header {
    padding-bottom: 3%;
    font-size: 2.5rem;
}

.functions-glowna {
    padding-left: 7%;
}

.function-glowna {
    margin-left: 3%;
    margin-right: 3%;
    width: 25%;
}

.function-glowna-description {
    margin-top: 7%;
}

#opinie-karuzela {
    margin-left: 10%;
    width: 80%;
}

.opinion-photo {
    width: 10%;
    height: 10%;
    margin-left: 45%;
}

.opinion-author {
    text-align: center;
}

.opinion-text {
    text-align: center;
}

.opinion-header {
    padding-bottom: 4%;
}

#join-header {
    padding-bottom: 4%;
}

.join-card {
    text-align: center;
}

.card-img-top {
    padding-top: 2%;
    max-width: 36vw;
    max-height: 24vh;
}

.profile-photo-glowna {
    margin-top: 2%;
    border-radius: 50%; 
    width:120px; 
    height:120px;
}

.ogloszenia-content {
    background-color: #2496ed; 
    padding: 0% 17%;
}

.ogloszenia-wyszukiwarka {
    background-color: #2496ed; 
    padding-top: 5%; 
    padding-bottom: 2%;
}

.ogloszenia-sortowanie {
    margin-left: 30%;
}

.edycjaOgloszeniaPrzycisk {
    margin-left: 18%;
}



@media (max-width: 479px ){

    .ogloszenia-zdjecie {
        margin-left: 5%;
        text-align: center;
    }
    
    .ogloszenia-tekst {
        text-align: center;
    }
    
    .ogloszenia-przyciski {
        margin-left: 15%;
        margin-right: 15%;
        
    }

    .ogloszenia-content {
        padding: 0 7%;
    }

    .ogloszenia-wyszukiwarka {
        width: 95%;
    }

    .ogloszenia-sortowanie {
        margin-left: 20%;
        
    }
    #sortujPoCenieRosnaco {
        margin-left: 95%;
    }

    .mojProfil {
        margin-right: 0%;
    }

    .profil {
        margin-left: 10%;
    }
    
    .mojeOgloszenia {
        margin-left: 0%;
        margin-right: 0%;
    }
    .przyciski {
        margin-left: 30%;
    }

    #harmonogram {
        margin-left: 15%;
    }

    .dodajOgloszenie {
        margin-left: 10%;
        margin-right: 5%;
    }
    .dodajPrzycisk {
        margin-left: 40%;
    }
    .edycjaOgloszeniaPrzycisk {
        margin-left: 30%;
    }
    
    .list-group {
        text-align: center;
    }
    .zobaczProfilPrzycisk {
        margin-left: 20%;
    }
    .film_promocyjny {
        width: 240px;
        height: 180px;
    }

    .wiadomosciContent {
        width: 95% !important;
        margin: 0% 0% 0% 0% !important;
    }
    .message {
        width: 50%;
        margin: 0% 0% 0% 0%;
        margin-left: 2%;
        font-size: small;
    }
    .message-rigth{
        margin-left: 45%;
    }
    #pasekWiadomosci {
        width: 80%;
        margin-top: 2% ;
        margin-left: 10%;
    }
    .wiadomosci-kontakty {
        font-size: 12px;
    }
}