
<footer class="section footer-classic context-dark" style="background: #2d3246;">
        <div class="container">
          <div class="row row-30">
            <div class="col-md-4 col-xl-5">
			<br>
              <div class="pr-xl-4"><h5>O nas</h5>
                <p>Pomoc w nauce języków obcych z utalentowanymi native speakerami</p>
                <!-- Rights-->
                <p class="rights"><span>©  </span><span class="copyright-year">2020</span><span> </span><span>Projekt</span><span>. </span><span>Wszelkie prawa zastrzeżone</span></p>
              </div>
            </div>
            <div class="col-md-4">
			<br>
              <h5>Kontakt</h5>
              <dl class="contact-list">
                <dt>Adres:</dt>
                <dd>22-400 Zamość, Betonowa jungla</dd>
              </dl>
              <dl class="contact-list">
                <dt>Email:</dt>
                <dd><a href="mailto:#">wojciech.wypych@gmail.com</a></dd>
				<dd><a href="mailto:#">michal.watrak@gmail.com</a></dd>
              </dl>
              <dl class="contact-list">
                <dt>Telefon:</dt>
                <dd><a href="tel:#">987 654 321</a><br> <a href="tel:#">123 456 789</a>
                </dd>
              </dl>
            </div>
            <div class="col-md-4 col-xl-3">
			<br>
              <h5>Linki do stron</h5>
              <ul class="nav-list">
                <li><a href="#">Projekty</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Kontakt</a></li>
                <li><a href="#">Cennik</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row no-gutters social-container">
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
          <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
        </div>
      </footer>


      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


</body>

</html>
